<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>История</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    </head>
    <body class="jumbotron">
            <div class="container">
              <p class="text-right"></pclass>{{user}}</p>
              <h1>История</h1>
              {% block content %}
              {% endblock %}
              <p>
                <a href="/" class="btn btn-success btn-lg">Главная страница</a>
              </p>
            </div>
      </form> 
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Файл</th>
            <th scope="col">Ключ</th>
          </tr>
        </thead>
        <tbody>
          {% for k,v in log.items %}
          <tr>
            <th scope="row">1</th>
            <td>{{k}}</td>
            <td>{{v}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </body>
</html>