<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Крутой сайт</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
              <h1>Сайт позволяющий зашифровать текст в картинке</h1>
              {% block content %}
              {% endblock %}
              <p>
                <a href="encrypt/" class="btn btn-primary btn-lg">Зашифровать &raquo;</a>
                <a href="decrypt/" class="btn btn-warning btn-lg">Расшифровать &raquo;</a>
                <a href="regis/" class="btn btn-primary btn-lg">Регистрация &raquo;</a>
              </p>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header">Описание сайта</h5>
            <div class="card-body">
              <h5 class="card-title">Для чего нужен этот сайт?</h5>
              <p class="card-text">Этот сайт позволяет зашифровать сообщение в картинку, а также расшифровать сообщение из картинки</p>
              <h5 class="card-title">Как это работает?</h5>
              <p class="card-text">Не секрет что картинка состоит из пикселей, а каждый пиксель состоит из трёх байт RGB. Но что если с конца каждого такого байта убрать пару бит? В это сложно поверить(или легко), но картинка почти не изменится! Даже если взять оригинал и изменённую картинку и поставить рядом, отличия будут едва ли видны и в свободное место можно записать зашифрованное сообщение.</p>
              <h5 class="card-title">Безоопасность</h5>
              <p class="card-text">RSA шифрование, использование защищённого протокола https, сертификаты безопасности. Всё это и не только, отсутствует в моём сайте так как данный сайт был создан в учебных целях.</p>
              <h5 class="card-title">Автор</h5>
              <p class="card-text">Пимонов Даниил</p>
            </div>
          </div>

        <div class="container">
            <img src="{% static 'mainApp/image/kart.png' %}" class="img-thumbnail">
            <hr>
            &copy; Все права не защищены 2020
        </div>
    </body>
</html>